# Editors
*~

# OS X
.DS_Store

# Scala/SBT
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.settings
.target

# Only until determining that this is a good binary distribution strat
bin/courier

# Scala IDE
.scala_dependencies
.project
.classpath
.worksheet

# IntelliJ IDE
.idea
.idea_modules
*.iml
*.ipr
*.iws

#
.arcconfig
.arclint
