{% assign data = site.data.file_format_specific[include.name] %}
<ul class="nav nav-pills schema-fileformat-tabs" role="tablist">
  <li role="presentation" style="float:right;"><a href="#ex-{{include.name}}-courier" aria-controls="ex-{{include.name}}-courier"   role="tab" data-toggle="tab">.courier</a></li>
  <li role="presentation" class="active" style="float:right;"><a href="#ex-{{include.name}}-pdsc" aria-controls="ex-{{include.name}}-pdsc" role="tab" data-toggle="tab">.pdsc</a></li>
</ul>

<div class="tab-content fileformat-tab-content">
  <div role="tabpanel" class="fileformat-tab-pane tab-pane active" id="ex-{{include.name}}-pdsc">
    <h4></h4>
    {{data.pdsc | markdownify}}
  </div>

  <div role="tabpanel" class="fileformat-tab-pane tab-pane" id="ex-{{include.name}}-courier">
    <h4></h4>
    {{data.courier | markdownify}}
  </div>
</div>
